<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div class="navbar-container" id="navbar-container" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" th:fragment="header">
	<div class="navbar-header pull-left">
		<a href="#" class="navbar-brand">
			<small>
				<i class="icon-leaf"></i>
				欣星尚后台管理
			</small>
		</a>
	</div>

	<div class="navbar-header pull-right" role="navigation">
		<ul class="nav ace-nav">

			<li class="light-blue" >
				<a data-toggle="dropdown" href="#" class="dropdown-toggle">
					<img class="nav-user-photo" src="/file/download" alt="" />
					<span class="user-info">
						<small id="SessionUser"></small>
						<span onclick="logout();">退出</span>
					<i class="icon-off"></i>
					</span>
					<i class="icon-caret-down"></i>
				</a>


			</li>
		</ul>
	</div>
</div>

