
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!-- ace settings handler -->

<script th:src="@{/assets/js/ace-extra.min.js}"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
<script th:src="@{/assets/js/html5shiv.js}"></script>
<script th:src="@{/assets/js/respond.min.js}"></script>
<![endif]-->


<!-- basic scripts -->

<!--[if !IE]> -->

<script th:src="@{/assets/js/jquery-2.0.3.min.js}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script th:src="@{/assets/js/jquery-2.0.3.min.js}"></script>
<![endif]-->

<!--[if !IE]> -->
<script  th:src="@{/assets/js/jquery-1.10.2.min.js}"></script>
<!-- <![endif]-->


<script  th:src="@{/assets/js/jquery.mobile.custom.min.js}"></script>
<script type="text/javascript">

</script>

<script  th:src="@{/assets/js/bootstrap.min.js}"></script>
<script  th:src="@{/assets/js/Bootstrap.datetimepicker.js}"></script>
<script  th:src="@{/assets/js/bootstrap-datetimepicker.fr.js}"></script>
<script  th:src="@{/assets/js/bootstrap-datetimepicker.zh-CN.js}"></script>

<script  th:src="@{/assets/js/typeahead-bs2.min.js}"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script  th:src="@{/assets/js/excanvas.min.js}"></script>
<![endif]-->

<script  th:src="@{/assets/js/jquery-ui-1.10.3.custom.min.js}"></script>
<script  th:src="@{/assets/js/jquery.ui.touch-punch.min.js}"></script>
<script  th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>
<script  th:src="@{/assets/js/jquery.easy-pie-chart.min.js}"></script>
<script  th:src="@{/assets/js/jquery.sparkline.min.js}"></script>
<script  th:src="@{/assets/js/flot/jquery.flot.min.js}"></script>
<script  th:src="@{/assets/js/flot/jquery.flot.pie.min.js}"></script>
<script  th:src="@{/assets/js/flot/jquery.flot.resize.min.js}"></script>

<!-- ace scripts -->

<script  th:src="@{/assets/js/ace-elements.min.js}"></script>

<script  th:src="@{/assets/js/ace.min.js}"></script>
<script  th:src="@{/htmljs/index.js}"></script>

<script  th:src="@{/assets/js/ztree/jquery.ztree.core.js}"></script>
<script  th:src="@{/assets/js/ztree/jquery.ztree.excheck.js}"></script>
<script  th:src="@{/assets/layer/layer.js}"></script>

<script th:src="@{/htmljs/util/uploadFile.js}"></script>
<script th:src="@{/htmljs/util/uploadFile.js}"></script>
