<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.litte.mapper.reception.TEvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.litte.entity.reception.TEvaluate" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="e_userid" property="eUserid" jdbcType="VARCHAR" />
    <result column="e_person_shop" property="ePersonShop" jdbcType="VARCHAR" />
    <result column="e_person_shop_id" property="ePersonShopId" jdbcType="VARCHAR" />
    <result column="e_content" property="eContent" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="projects_id" property="projectsId" jdbcType="VARCHAR" />
    <result column="anonymity" property="anonymity" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, e_userid, e_person_shop, e_person_shop_id, e_content, create_time,score,picture,projects_id,anonymity
  </sql>
  <select id="selectByExample" resultType="java.util.Map" parameterType="com.litte.entity.reception.TEvaluate" >
    select
    e.id, e.e_userid as eUserid, e.e_person_shop as ePersonShop,
    e.e_person_shop_id as ePersonShopId, e.e_content as eContent,
    e.create_time as createTime,e.score,e.picture,e.projects_id as projectsId,
    p.real_name as realName,d.dept_name as deptName
    from t_evaluate e left join t_personage p on e.e_userid = p.id
    left join t_dept d on e.e_person_shop_id=d.id
    <where>
      <if test="ePersonShopId != null">
        and e.e_person_shop_id = #{ePersonShopId,jdbcType=VARCHAR}
      </if>
    </where>
    order by e.create_time desc
  </select>
  <select id="selectByExampleByPort" resultType="java.util.Map" parameterType="com.litte.entity.reception.TEvaluate" >
    select
    e.id,e.e_userid as eUserid,e.e_content as eContent,e.picture ,e.anonymity,
    e.create_time as createTime,e.score,p.user_img as userimg,s.p_name as pName
    from t_evaluate e
    left join t_personage p on e.e_userid=e.e_userid
    left join t_projects s on e.projects_id=s.id
    <where>
        <if test="ePersonShopId != null">
            and e.e_person_shop_id = #{ePersonShopId,jdbcType=VARCHAR}
        </if>
        <if test="eUserid != null">
          and e.e_userid = #{eUserid,jdbcType=VARCHAR}
        </if>
    </where>
    order by e.create_time desc
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_evaluate
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.List" >
    delete from t_evaluate
    where id in
    <foreach collection="list" item="ids" separator="," open="(" close=")">
      '${ids}'
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.litte.entity.reception.TEvaluate" >
    insert into t_evaluate (id, e_userid, e_person_shop, 
      e_person_shop_id, e_content, create_time,projects_id
      )
    values (#{id,jdbcType=VARCHAR}, #{eUserid,jdbcType=VARCHAR}, #{ePersonShop,jdbcType=VARCHAR}, 
      #{ePersonShopId,jdbcType=VARCHAR}, #{eContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      , #{projectsId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.litte.entity.reception.TEvaluate" >
    insert into t_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eUserid != null" >
        e_userid,
      </if>
      <if test="ePersonShop != null" >
        e_person_shop,
      </if>
      <if test="ePersonShopId != null" >
        e_person_shop_id,
      </if>
      <if test="eContent != null" >
        e_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="score != null" >
          score,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="projectsId != null" >
        projects_id,
      </if>
      <if test="anonymity != null" >
        anonymity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="eUserid != null" >
        #{eUserid,jdbcType=VARCHAR},
      </if>
      <if test="ePersonShop != null" >
        #{ePersonShop,jdbcType=VARCHAR},
      </if>
      <if test="ePersonShopId != null" >
        #{ePersonShopId,jdbcType=VARCHAR},
      </if>
      <if test="eContent != null" >
        #{eContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="projectsId != null" >
        #{projectsId,jdbcType=VARCHAR},
      </if>
      <if test="anonymity != null" >
        #{anonymity,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.litte.entity.reception.TEvaluate" >
    update t_evaluate
    <set >
      <if test="eUserid != null" >
        e_userid = #{eUserid,jdbcType=VARCHAR},
      </if>
      <if test="ePersonShop != null" >
        e_person_shop = #{ePersonShop,jdbcType=VARCHAR},
      </if>
      <if test="ePersonShopId != null" >
        e_person_shop_id = #{ePersonShopId,jdbcType=VARCHAR},
      </if>
      <if test="eContent != null" >
        e_content = #{eContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
          score = #{score,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="projectsId != null" >
        projects_id = #{projectsId,jdbcType=VARCHAR},
      </if>
      <if test="anonymity != null" >
        anonymity = #{anonymity,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.litte.entity.reception.TEvaluate" >
    update t_evaluate
    set e_userid = #{eUserid,jdbcType=VARCHAR},
      e_person_shop = #{ePersonShop,jdbcType=VARCHAR},
      e_person_shop_id = #{ePersonShopId,jdbcType=VARCHAR},
      e_content = #{eContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>